<mat-toolbar id="nav">
  <mat-toolbar-row>
    <img
      src="assets/images/kh-logo.png"
      width="100"
      [routerLink]="['/home']"
      fragment="home"
    />
    <span style="flex: 1 1 auto;"></span>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="text-light">menu</mat-icon>
    </button>
    <mat-menu #menu>
      <mat-list>
        <mat-list-item [routerLink]="['/home']" fragment="home">
          <mat-icon mat-list-icon>home</mat-icon>
          <span matLine>Home</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/home']" fragment="about">
          <mat-icon mat-list-icon>info</mat-icon>
          <span matLine>About Us</span>
        </mat-list-item>

        <mat-list-item [routerLink]="['/teams']">
          <mat-icon mat-list-icon>group_work</mat-icon>
          <span matLine>Teams</span>
        </mat-list-item>
        <a href="http://bit.ly/KH_LHD_BUILD">
          <mat-list-item>
            <mat-icon mat-list-icon>receipt</mat-icon>
            <span matLine>Team Registration</span>
          </mat-list-item>
        </a>
        <mat-list-item [routerLink]="['/home']" fragment="faqs">
          <mat-icon mat-list-icon>question_answer</mat-icon>
          <span matLine>FAQs</span>
        </mat-list-item>
        <hr />
        <a
          href="mailto:ewards@karunya.edu?Subject=Sponsorship%20for%20Hackathon"
        >
          <mat-list-item>
            <mat-icon>card_membership</mat-icon>
            <span matLine>Sponsor Us</span>
          </mat-list-item>
        </a>
      </mat-list>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="p-2 mt-5 w-100 text-center">
  <span>&copy; KHacks 2019</span>
</footer>
