mat-form-field {
  width: 46%;
}

.pic {
  min-width: 40px;
  max-width: 40px;
  margin: 8px;
}
.cards-div {
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding-top: 16px;
  padding-left: 16px;
  border-radius: 15px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 2px 1px #35353588;
}

button {
  margin: 8px;
}

mat-horizontal-stepper {
  position: relative;
}

mat-card {
  margin: 2px;
}

mat-card-header {
  margin: 2px;
}

.color1 {
  background: linear-gradient(40deg, #e3ffe7a1 0%, #d9e7ffa1 100%);
}

.black-tint {
  background-color: #ffffff6e;
}

.light-tint {
  background-color: #00000077;
}

.icon-hover :hover {
  color: #fff;
}
